a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 4rem;
    height: 4rem;
    left:3rem;
    top: 3rem;
    background: var(--green);
    opacity: 1;
    border-radius: 50%;
    box-shadow: 0 0 .5rem 0 var(--green);
    animation: blink 6s infinite ease-in-out;
    }
svg{
    fill: var(--dark); 
}
@keyframes blink {
    0%{

    }
    50%{box-shadow: 0 0 .6rem .25rem var(--green);}
    100%{}
}
main{
    display: flex;
    gap: .3rem;
}
@media (max-width: 74.99rem) {
    a{
        width: 3.5rem;
        height: 3.5rem;
        left:3rem;
        top: 3rem;
        }
        svg{
            width: 38px;
            height: 38px;
        }
}
@media (max-width: 63.99rem){
    a{
        width: 3rem;
        height: 3rem;
        left:2.5rem;
        top: 2.5rem;
        }
        svg{
            width: 30px;
            height: 30px;
        }
}
@media (max-width: 47.99rem){
    a{
        width: 3rem;
        height: 3rem;
        left:2rem;
        top: 2rem;
        }
}
@media (max-width: 29.99rem) {
    a{
        width: 2.5rem;
        height: 2.5rem;
        left:1.5rem;
        top: 1.5rem;
        }
        svg{
            width: 30px;
            height: 30px;
        }
}